@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #18181b;
}

@theme inline {
  /* extend scheme (tailwind named vars): */
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* give every color a little preview thumbnail @ class usage: */
  --color-background: #f8fafc;  /* slate-50 */
  --color-foreground: #18181b;  /* zinc-900 */
  --color-blue-light: #0ABAB5;  /* tiffany-blue */
  --color-blue-dark: #2c4c64;
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  --font-primary: var(--font-montserrat);
}

body {
  /* will make the ":root" vars default across the project: */
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
}
